import {NgModule} from '@angular/core';
import {Routes,RouterModule} from '@angular/router';

import {PageesComponent} from './pages.component';
import {TopComponent} from './top/top.component';
import {IssueComponent} from './issue/issue.component';
import {WikiCompenent} from './wiki/wiki.component';

const routes:Routes=[
{
  path:'',
  component:[
  {path:'',redirectTo:'top',pathMatch:'full'},
  {path:'top',component:TopComponent},
  {path:'issue',component:IssueComponent},
  {path:'wiki',component:WikiCompenent}
  ]
}
];
@NgModule({
  imports:[RouterModule.forChild(routes)],
  exports:[RouterModule]
})
export class PageRoutingModule{}
